* {
    box-sizing: border-box;
}

@media (max-width:575px) {
  .topic-menu {
    margin-bottom: 5%;
  }
}

@media (max-width:575px) {
  .topic-menu {
    margin-bottom: 5%;
  }
}

.topic-menu ul li{
  cursor: pointer;
  cursor: hand;
}

.container{
  margin: 5% 5% 5% 5%;
}

.info{
}

.app-container{
}

.edu-link{
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.display-linebreak {
  white-space: pre-line;
}
