* {
    box-sizing: border-box;
}

@media (max-width:580px) {
  .topic-menu {
    margin-bottom: 5%;
  }
}

@media (max-width:575px) {
  .topic-menu {
    margin-bottom: 5%;
  }
}

.topic-menu ul {
  display: table;
  width: 100%;
}

.topic-menu ul li{
  cursor: pointer;
  cursor: hand;
}

.container{
  margin: 5% 5% 5% 5%;
}

.info{
}

.app-container{
}

.navbar-toggle.collapsed {
  background-color: transparent !important;
}

.navbar-default .navbar-toggle {
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: transparent !important;
  background-color: transparent !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent !important;
  border-color: transparent !important;
}

.navbar.navbar-default {
  background: transparent !important;
  border: transparent !important;
  box-shadow: none !important;
}

.edu-link{
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.display-linebreak {
  white-space: pre-line;
}

