.container{
  max-width: 1140px;
  margin: 5% 5% 5% 5%;
}

.info{
  width: 80%;
  padding-left: 20%;
}

.list-group{
  float: left;
  width: 20%;
  word-wrap: break-word;
}

.app-container{
}

.edu-link{
  font-size: larger;
}
